  version: 2
  jobs:
    build:
      docker:
        - image: circleci/python:3.6-stretch
      steps:
        - checkout
        - run:
            name: Installing dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y cmake
              sudo pip install tox
        - run:
            name: Installing zstd
            working_directory: ~/zstd
            command: |
              wget https://github.com/facebook/zstd/archive/v1.3.4.tar.gz -O - | tar -xz
              cd zstd-1.3.4
              make && sudo make install prefix=/usr
        - run:
            name: Installing squashfs-tools
            working_directory: ~/squashfs-tools
            command: |
              wget https://github.com/plougher/squashfs-tools/archive/fb33dfc32b131a1162dcf0e35bd88254ae10e265.tar.gz -O - | tar -xz
              cd squashfs-tools-fb33dfc32b131a1162dcf0e35bd88254ae10e265/squashfs-tools
              make ZSTD_SUPPORT=1 && sudo make install
        - run:
            name: Installing gtest
            working_directory: ~/gtest
            command: |
              wget https://github.com/google/googletest/archive/release-1.8.0.tar.gz -O - | tar -xz
              cd googletest-release-1.8.0
              mkdir build && cd build && cmake -G "Unix Makefiles" .. && make && sudo make install
        - run:
            name: Build
            command: |
              cmake . && make
        - run:
            name: Test
            command: |
              make test
              tox
